/* TODO maybe add init temp styles */

/* article {
  display: none !important;
}

div[role="progressbar"] {
  display: none !important;
} */

/* div[data-visualcompletion="ignore"] {
  display: none !important;
} */
